@font-face {
  font-family: "iconfont"; /* Project id 2401143 */
  src: url('https://at.alicdn.com/t/font_2401143_mn3c6docim.woff2?t=1627524145583') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .icon-_duobianxinghuanchong:before {
  content: "\e60d";
}

.icon-shouji:before {
  content: "\e60c";
}

.icon-bianji:before {
  content: "\e61e";
}

.icon-icon-test1:before {
  content: "\e610";
}

.icon-daishouhuo:before {
  content: "\e63a";
}

.icon-shoucang:before {
  content: "\e61d";
}

.icon-pingjia:before {
  content: "\e686";
}

.icon-tianjiadizhi:before {
  content: "\e760";
}

.icon-dizhi:before {
  content: "\e616";
}

.icon-attend:before {
  content: "\e674";
}

.icon-quan:before {
  content: "\e723";
}

.icon-shuben-:before {
  content: "\e604";
}

.icon-icon-:before {
  content: "\e62b";
}

.icon-zhijiao-triangle:before {
  content: "\e652";
}

.icon-pinglun1:before {
  content: "\e66d";
}

.icon-tixing2:before {
  content: "\e64f";
}

.icon-icon-test:before {
  content: "\e62a";
}

.icon-icon--:before {
  content: "\e747";
}

.icon-aim:before {
  content: "\e614";
}

.icon-fenxiang1:before {
  content: "\e6d1";
}

.icon-xiangji1:before {
  content: "\e66c";
}

.icon-fanhui:before {
  content: "\e637";
}

.icon-jiahao:before {
  content: "\e61c";
}

.icon-zhuanfa:before {
  content: "\e687";
}
 */